aiohttp==3.7.4.post0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
braceexpand==0.1.7
chardet==4.0.0
discord==1.0.1
discord.py==1.7.2
fuzzywuzzy==0.18.0
humanize==3.5.0
idna==3.1
import-expression==1.1.4
jishaku==1.20.0.220
multidict==5.1.0
python-Levenshtein==0.12.2
six==1.16.0
typing-extensions==3.10.0.0
watchdog==2.1.2
yarl==1.6.3
