aiohttp
aioredis
astunparse
async-timeout
attrs
braceexpand
chardet
git+https://github.com/Rapptz/discord.py
discord-components
fuzzywuzzy
humanize
idna
import-expression
jishaku
multidict
python-Levenshtein
six
typing-extensions
watchdog
yarl
pyparsing
discord-components